.tittle {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: #222831;
}

.container {
  background-color: #eeeeee;
  border: 2px solid white;
  border-radius: 30px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 800px;
}

.preloader {
  text-align: center;
  margin-top: 200px;
}

.container strong {
  font-size: medium;
}
.inputSalary {
  background-color: yellow;
}
