.tittle {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: #222831;
}

.container {
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #eeeeee;
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 700px;
}

.preloader {
  text-align: center;
  margin-top: 50px;
}

.container strong {
  font-size: medium;
}
.inputSalary {
  background-color: yellow;
}

.footer {
  background-color: #739fd4;
  font-style: oblique;
}
